::-webkit-scrollbar {
    width: 1.8vh; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: #111111; /* Color del fondo del track */
}
::-webkit-scrollbar-thumb {
    background-color: #BD3944; /* Color de la barra de desplazamiento */
}





body{
    background: #111111 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer{
    display: flex;
    flex-direction: column;
    background: #111111;
    justify-content: center;
    align-items: start;
    padding: 2rem 2rem 2rem 2rem;
}
p{
    color: #FFFBF5;
}
label{
    color: #000000;
}
a{
    color: #FFFBF5;
}
h1{
    color: #FD4556;
    font-size: 2em;
}
h2{
    font-size: 2rem;
    margin: 0 0 1em 0 ;
}





.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;

    padding: 2rem 0;
    background: #FD4556;
}
.player-input-div{
    margin: 1rem;
    padding: 1.5vw 8vh;
    border: 0.063em solid #000000;
    background-color: #FFFBF5;
    border-radius: 10px;
    font-size: 1.2em;
}
.player-input{
    display: flex;
    flex-direction: column;
    padding: 0 0 0.5rem 0;
}
#player1-input,#player2-input,#player3-input,#player4-input,#player5-input{
    width: 13rem;
}
.jugadores-texto {
    margin-bottom: 0.1rem;
}
#btnGenerar{
    width: 100%;
    color: white;
    background-color: #FD4556;
    padding: 0.7rem 3rem;
    text-align: center;
}





.player-output-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.player-article{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 0.5rem 0rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid #000000;
    background-color: #FFFBF5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.character-output-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-output-img{
    width: 6.25rem;
    height: 6.25rem;
}
.character-name{
    font-size: 85%;
    text-transform: capitalize;
}
.character-rol{
    font-size: 65%;
    text-transform: capitalize;
}
.player-output-name{
text-transform: capitalize;
}





.red-img{
    width: 2.5rem;
    height: 2.5rem;
}
.redes-div{
    display: flex;
    flex-direction: row;
}
.red-div{
    background-color: rgb(50, 50, 50);
    margin: 0 0 0 1rem;
    padding: 10px 10px 10px 10px;
    border-radius: 30%;
}