::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--Gris1);
}
::-webkit-scrollbar-thumb {
    background-color: var(--Rojo2);
}





body{
    --Rojo1: #FD4556;
    --Rojo2: #BD3944;
    --RojoTitulo: var(--Rojo1);
    --Gris1: #111;
    --Gris2: #292929;
    --Blanco: #ece8e1;
    --TextosNegros: #000;
    --TextosBlancos: #fff;
    --TextoBoton: #fff;
    --CoverturaBoton: #0f1923;

    background: var(--Gris1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    flex-wrap: nowrap;
    background: var(--Gris1);
}
aside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer{
    display: flex;
    flex-direction: column;
    background: var(--Gris1);
    justify-content: center;
    align-items: start;
    padding: 2rem 2rem 2rem 2rem;
}
p{
    color: var(--TextosBlancos);
}
label{
    color: var(--TextosNegros);
}
a{
    color: var(--TextosBlancos);
}
h2{
    color: var(--TextosNegros);
}




@media (max-width: 500px){
    
    .titulo{
        font-size: 6svw;
    }
}
.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--RojoTitulo);
    grid-column: 2;
    margin: 1rem auto;
    padding: auto;
    justify-self: center;
}
.darkmode{
    grid-column: 3;
    align-self: center;
    justify-self: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--Blanco);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #666;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}





.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;

    padding: 10% 0 10% 0;
    background: var(--Rojo1);
}
.players{
    margin: auto;
    padding: 2rem 2rem;
    border: 1px solid var(--TextosNegros);
    background-color: var(--Blanco);
    border-radius: 10px;
}
.player{
    display: flex;
    flex-direction: column;
    padding: 0 0 0.5rem 0
}
.players__generar{
    color: var(--TextoBoton);
    background-color: var(--Rojo1);
    height: 2.5rem;
    width: 100%;
    border: none;

    cursor: pointer;
    font-size: 1em;
    background-image: linear-gradient(-45deg, transparent 50%, var(--CoverturaBoton) 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 400ms ease-in-out, color 400ms ease-in-out;
    transition: background 400ms ease-in-out, color 400ms ease-in-out;
}
.players__generar:hover {
    color: var(--TextosBlancos);
    background-position: 25%; 
}



@media (min-width: 860px){
    .aside{
        flex-basis: 70%;
    }
}
.aside{
    justify-content: center;
}
.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.character{
    display: flex;
    border: 1px solid var(--TextosNegros);
    border-radius: 10px;
    margin: 0.2rem 0.2rem;
    padding: 1rem 2rem 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    text-shadow:
    0 0 2px var(--TextosNegros),
    0 0 2px var(--TextosNegros),
    0 0 2px var(--TextosNegros),
    0 0 5px var(--TextosNegros),
    0 0 5px var(--TextosNegros),
    0 0 5px var(--TextosNegros),
    0 0 10px var(--TextosNegros),
    0 0 10px var(--TextosNegros),
    0 0 10px var(--TextosNegros);
    -webkit-text-fill-color: var(--Blanco);
}
.output__player--name{
text-transform: capitalize;
}
.character--data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character--data--img{
    width: 100px;
    height: 100px;
}
.character--data--name{
    font-size: 85%;
    text-transform: capitalize;
}
.character--data--rol{
    font-size: 65%;
    text-transform: capitalize;
}





.redes{
    display: flex;
    flex-direction: row;
}
.red{
    background-color: var(--Gris2);
    margin: 0 0 0 1rem;
    padding: 10px 10px 10px 10px;
    border-radius: 30%;
}
.red__img{
    width: 40px;
    height: 40px;
}